# Initialization
on property:sys.boot_completed=1

# Enable CameraHal support
   setprop camera.support 1

# 0 - Enable Hal1
on property:persist.camera.profile=0
    setprop persist.vendor.camera.HAL3.enabled 0
    stop vendor.camera-provider-2-4
    stop cameraserver
    stop vendor.qcamerasvr
    start vendor.camera-provider-2-4
    start cameraserver
    start vendor.qcamerasvr

# 1 - Enable Hal3
on property:persist.camera.profile=1
    setprop persist.vendor.camera.HAL3.enabled 1
    stop vendor.camera-provider-2-4
    stop cameraserver
    stop vendor.qcamerasvr
    start vendor.camera-provider-2-4
    start cameraserver
    start vendor.qcamerasvr
